@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

/* variables */

:root {
  --txtCol: #111827;
  --bgCol: #F9FAFB;
  --greyTxtCol: #1F2937;
  --greyBgCol: #F3F4F6;
  --redTxtCol: #991B1B;
  --redBgCol: #FEE2E2;
  --yellowTxtCol: #92400E;
  --yellowBgCol: #FEF3C7;
  --greenTxtCol: #065F46;
  --greenBgCol: #D1FAE5;
  --blueTxtCol: #1E40AF;
  --blueBgCol: #DBEAFE;
  --indigoTxtCol: #3730A3;
  --indigoBgCol: #E0E7FF;
  --purpleTxtCol: #5B21B6;
  --purpleBgCol: #EDE9FE;
  --pinkTxtCol: #9D174D;
  --pinkBgCol: #FCE7F3;
}

/* generic */

body {
  font-family: 'Inter', sans-serif;
}

/* utility classes */

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex-wrap-gap {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.opacity-5 {
  opacity: 0.5;
}

/* presentation */

section {
  max-width: 80%;
  margin: 1.5em auto;
  background-color: white;
  padding: 1.5em;
}

.section-content {
  width: fit-content;
  margin: 0 auto;
}

section hr {
  border: none;
  border-bottom: 3px dashed #ebebeb;
  margin: 2em 0;
}

pre {
  min-width: 0px;
  max-width: 800px;
  background-color: #333;
  padding: 1em;
  color: #fff;
  border-radius: 8px;
}

/* ## components */

/* badge */

.badge {
  padding: 0.125rem 0.75rem;
  border-radius: 0.25rem;
  color: var(--greyTxtCol);
  background-color: var(--greyBgCol);
}

.pill {
  border-radius: 0.75rem;
}

.red {
  color: var(--redTxtCol);
  background-color: var(--redBgCol);
}

.yellow {
  color: var(--yellowTxtCol);
  background-color: var(--yellowBgCol);
}

.green {
  color: var(--greenTxtCol);
  background-color: var(--greenBgCol);
}

.blue {
  color: var(--blueTxtCol);
  background-color: var(--blueBgCol);
}

.indigo {
  color: var(--indigoTxtCol);
  background-color: var(--indigoBgCol);
}

.purple {
  color: var(--purpleTxtCol);
  background-color: var(--purpleBgCol);
}

.pink {
  color: var(--pinkTxtCol);
  background-color: var(--pinkBgCol);
}

/* banner */

.banner {
  width: fit-content;
  padding: 1rem;
  align-items: flex-start;
  gap: 0.75rem;
  border-radius: 0.375rem;
  line-height: 1.25rem;
  color: #1E40AF;
  background-color: #EFF6FF;
}

.banner p {
  max-width: 70ch;
}

.banner-icon {
  font-size: 1.2rem;
}

.error {
  color: var(--redTxtCol);
  background-color: var(--redBgCol);
}

.warning {
  color: var(--yellowTxtCol);
  background-color: var(--yellowBgCol);
}

.success {
  color: var(--greenTxtCol);
  background-color: var(--greenBgCol);
}

/* card */

.card {
  padding: 2rem 1.5rem 2rem 1.5rem;
  flex-direction: column;
  border-radius: 0.5rem;
  color: var(--txtCol);
  background-color: var(--bgCol);
  margin-top: 3rem;
  text-align: center;
  position: relative;
  line-height: 1.5rem;
  max-width: 35ch;
  font-weight: 400;
}

.card:hover {
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
}

.card-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 0.375rem;
  background-color: #3F75FE;
  color: #fff;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 0px 10px 15px -3px rgba(0, 0, 0, 0.10);
  position: absolute;
  top: -1.5rem;
}

/* testimonial  */

.testimonial-container {
  color: #111827;
  background-color: #F9FAFB;
  align-items: flex-start;
  text-align: center;
  padding: 2rem 8rem;
  width: fit-content;
}

.testimonial {
  flex-direction: column;
  gap: 2rem;
  flex: 1 0 0;
}

.testimonial-logo {
  gap: 0.25rem;
  color: blue;
  font-weight: 600;
}

.testimonial-text {
  max-width: 50ch;
}

.testimonial-source {
  font-size: 0.8rem;
}

/* testimonial with image */

.testimonial-with-image-container {
  background-color: #2545B8;
  color: #fff;
  margin: 2em 0;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  max-width: 800px;
  position: relative;
}

.testimonial-with-image-container img {
  object-fit: cover;
  height: 120%;
  width: 30%;
  top: -10%;
  position: absolute;
  grid-column: 1;
  border-radius: 12px;
}

.testimonial-with-image-container .testimonial-text {
  grid-column: 2 / -1;
  margin: 2em 0;
  max-width: unset;
}

.quote-icon {
  font-size: 2rem;
  opacity: 0.25;
}

/* media queries */

@media (max-width: 768px) {

  /* testimonial plain */

  .testimonial-container {
    padding: 3rem 1rem;
    text-align: left;
  }

  .testimonial-logo {
    align-items: flex-start;
  }

  .testimonial-source {
    align-self: flex-start;
  }

  /* testimonial with image */
  .testimonial-with-image-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    max-width: 250px;
    top: 2em;
  }

  .testimonial-with-image-container img {
    width: 95%;
    height: 50%;
    top: -20%;
    left: 0;
    grid-row: 1;
  }

  .testimonial-with-image-container .testimonial-text {
    grid-row: 2 / -1;
    grid-column: 1;
    margin: 1em;
  }

}